@width-mobile: 320px;
@width-tablet: 680px;
@width-desktop: 1200px;

@color-black: #000000;
@color-white: #ffffff;
@color-grey: #f2f2f2;
@color-darkblue: #1d2732;
@color-blue: #283645;
@color-transblue: rgba(40, 54, 69, 0.5);
@color-pink: #d22856;
@color-transpink: rgba(210, 40, 86, 0.5);
@color-darkgreen: #1c9b5e;
@color-green: #2aab6d;

body {
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: @width-desktop) {
	body {
		font-size: 18px;
		line-height: 30px;
	}
}

img {
	display: block;
	width: 100%;
	height: auto;
}

// *:focus {
// 	outline: none;
// 	box-shadow: 0px 0px 0px 5px @color-pink;
// }

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 280px;
}

.container--full {
	padding: 0;
	max-width: 100%;
}

@media (min-width: @width-tablet) {
	.container {
		max-width: 620px;
	}
}

@media (min-width: @width-desktop) {
	.container {
		padding: 0 130px;
		max-width: 940px;
	}
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

//BUTTON

.button {
	box-sizing: border-box;
	display: inline-block;
	padding: 15px 20px;
	width: 100%;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: @color-white;
	text-decoration: none;
	text-align: center;
	border: 3px solid @color-white;
	border-radius: 30px;
}

//LOGO

.logo {
	display: block;
	width: 75px;
	height: 22px;
}

.logo__image {

}

@media (min-width: @width-tablet) {
	.logo {
		width: 147px;
		height: 40px;
	}
}

//MAIN-HEADER

.main-header {
	background-image: url(../img/headerbg-mobile@1x.jpg);
	background-repeat: no-repeat, ;
	background-size: 105%;
	&--index {
		.main-header__wrapper {
			min-height: 460px;
			background-image: url(../img/iphone-mobile.png);
			background-repeat: no-repeat;
			background-position: bottom left;
		}
	}
}

@media (max-width: @width-desktop) {
	.burger-menu {
		position: relative;
		background-color: rgba(0, 0, 0, 0.4);
		&--active {
			background-color: @color-blue;
			.burger-menu__wrapper {
				border-bottom: 1px solid @color-black;
			}
		}
	}

	.burger-menu__wrapper {
		padding: 25px 20px;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.burger-menu__burger {
		position: relative;
		padding: 0;
		width: 50px;
		height: 25px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&:before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			height: 4px;
			background-color: @color-white;
			box-shadow: 0px 11px 0px 0px @color-white,
			0px -11px 0px 0px @color-white;
		}
		&:hover {
			&:before {
				background-color: @color-pink;
				box-shadow: 0px 11px 0px 0px @color-pink,
				0px -11px 0px 0px @color-pink;
			}
		}
		&:active {
			&:before {
				background-color: @color-transpink;
				box-shadow: 0px 11px 0px 0px @color-transpink,
				0px -11px 0px 0px @color-transpink;
			}
		}
		&--active {
			&:before {
				width: 4px;
				height: 30px;
				left: 50%;
				box-shadow: none;
			}
			&:after {
				position: absolute;
				content: "";
				width: 30px;
				height: 4px;
				background-color: @color-white;
				top: 50%;
				left: 50%;
			}
			&:before,
			&:after {
				transform: translate(-50%, -50%) rotate(45deg);
				border-radius: 5px;
			}
			&:hover {
				&:before,
				&:after {
					box-shadow: none;
					background-color: @color-pink;
				}
			}
			&:active {
				&:before,
				&:after {
					box-shadow: none;
					background-color: @color-transpink;
				}
			}
		}
	}

	.burger-menu__list {
		display: none;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: @color-blue;
		&--nojs {
			display: block;
		}
	}

	.burger-menu__list-item {
		width: 100%;
		background-color: @color-blue;
		border-top: 1px solid #485461;
		border-bottom: 1px solid @color-black;
	}

	.burger-menu__link {
		display: block;
		padding: 18px 0;
		font-size: 18px;
		line-height: 32px;
		color: @color-white;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
	}

	.burger-menu__list--active {
		display: block;
		position: absolute;
		width: 100%;
		z-index: 99;
	}

	.main-header__content {
		background-color: @color-blue;

	}
}

//INDEX-INTRO

.index-intro {
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	background-color: @color-blue;
}

.index-intro__header {
	display: none;
}

.index-intro__button {
	margin-bottom: 30px;
}

.index-intro__app-list {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0;
	width: 205px;
	list-style: none;
}

.index-intro__app {

}

.index-intro__link {
	display: block;
	background-repeat: no-repeat;
	background-size: 100;
	&--apple {
		width: 47px;
		height: 56px;
		background-image: url(../img/icons/apple-logo.png);
	}
	&--android {
		width: 43px;
		height: 47px;
		background-image: url(../img/icons/android-logo.png);
	}
	&--microsoft {
		width: 44px;
		height: 41px;
		background-image: url(../img/icons/microsoft-logo.png);
	}
}

.index-intro__description {
	font-size: 14px;
	line-height: 24px;
	color: @color-white;
	font-weight: lighter;
	text-align: center;
}

@media (min-width: @width-tablet) {
	.main-header {
		background-image: url(../img/headerbg-tablet@1x.jpg);
		&--index {
			position: relative;
			.main-header__wrapper {
				min-height: 730px;
				background-image: url(../img/iphone-tablet.png);
				background-position: bottom right;
			}
		}
	}

	.burger-menu__wrapper {
		padding-bottom: 40px;
	}

	.burger-menu__burger {
		margin-top: 15px;
	}

	.index-intro {
		box-sizing: border-box;
		padding-top: 0;
		padding-right: 50%;
		padding-bottom: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		background-color: transparent;
	}

	.index-intro__wrapper {
		width: 300px;
	}

	.index-intro__header {
		display: block;
		margin-right: auto;
		margin-left: auto;
		font-size: 40px;
		line-height: 50px;
		color: @color-white;
		font-weight: lighter;
		text-align: center;
		width: 200px;
	}

	.index-intro__description {
		margin: 0 auto;
		width: 300px;
	}
}

@media (min-width: @width-desktop) {
	.main-header {
		background-image: url(../img/headerbg-desktop@1x.jpg);
		background-size: cover;
		&--index {
			.main-header__wrapper {
				min-height: 850px;
				background-image: url(../img/iphone-desktop.png);
				background-size: 500px;
				background-position: 80% 100%;
			}
		}
	}

	.burger-menu {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		padding-top: 25px;
		padding-right: 130px;
		padding-bottom: 40px;
		padding-left: 130px;
		background-color: rgba(0, 0 ,0, 0.5);
	}

	.burger-menu__wrapper {
		padding-bottom: 0;
	}

	.burger-menu__burger {
		display: none;
	}

	.burger-menu__list  {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		justify-content: space-between;
		align-self: flex-end;
		margin: 0;
		margin-left: 130px;
		padding: 0;
		list-style: none;
		width: 100%;
	}

	.burger-menu__list-item {

	}

	.burger-menu__link {
		padding-top: 5px;
		padding-bottom: 5px;
		color: @color-white;
		text-decoration: none;
		&:hover {
			color: @color-pink;
		}
		&:active {
			color: @color-white;
			position: relative;
			&:after {
				position: absolute;
				content: "";
				bottom: -5px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: @color-white;
			}
		}
	}

	.index-intro {
		padding-left: 130px;
	}


}
