body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  body {
    font-size: 18px;
    line-height: 30px;
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
}
.container--full {
  padding: 0;
  max-width: 100%;
}
@media (min-width: 680px) {
  .container {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 130px;
    max-width: 940px;
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.button {
  display: block;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.button--download {
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 30px;
}
@media (min-width: 1200px) {
  .button--download {
    font-size: 21px;
    line-height: 21px;
  }
}
.logo {
  display: block;
  width: 75px;
  height: 22px;
}
@media (min-width: 680px) {
  .logo {
    width: 147px;
    height: 40px;
  }
}
@media (max-width: 1200px) {
  .main-header {
    background-color: #283645;
    background: url(../img/iphone-mobile.png) no-repeat bottom 260px left / 260px, url(../img/headerbg-mobile@1x.jpg) no-repeat top / 100%;
  }
  .burger-menu {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .burger-menu--active {
    background-color: #283645;
  }
  .burger-menu--active .burger-menu__wrapper {
    border-bottom: 1px solid #000000;
  }
  .burger-menu__wrapper {
    padding: 25px 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;
  }
  .burger-menu__burger {
    position: relative;
    padding: 0;
    width: 50px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .burger-menu__burger:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0px 11px 0px 0px #ffffff, 0px -11px 0px 0px #ffffff;
  }
  .burger-menu__burger:hover:before {
    background-color: #d22856;
    box-shadow: 0px 11px 0px 0px #d22856, 0px -11px 0px 0px #d22856;
  }
  .burger-menu__burger:active:before {
    background-color: rgba(210, 40, 86, 0.5);
    box-shadow: 0px 11px 0px 0px rgba(210, 40, 86, 0.5), 0px -11px 0px 0px rgba(210, 40, 86, 0.5);
  }
  .burger-menu__burger--active:before {
    width: 4px;
    height: 30px;
    left: 50%;
    box-shadow: none;
  }
  .burger-menu__burger--active:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
  }
  .burger-menu__burger--active:before,
  .burger-menu__burger--active:after {
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 5px;
  }
  .burger-menu__burger--active:hover:before,
  .burger-menu__burger--active:hover:after {
    box-shadow: none;
    background-color: #d22856;
  }
  .burger-menu__burger--active:active:before,
  .burger-menu__burger--active:active:after {
    box-shadow: none;
    background-color: rgba(210, 40, 86, 0.5);
  }
  .burger-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #283645;
  }
  .burger-menu__list-item {
    width: 100%;
    background-color: #283645;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000000;
  }
  .burger-menu__link {
    display: block;
    padding: 18px 0;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  .main-header__content {
    background-color: #283645;
  }
  .burger-menu__navigation {
    display: none;
  }
  .burger-menu__navigation--nojs {
    display: block;
  }
  .burger-menu__navigation--active {
    display: block;
    position: absolute;
    width: 100%;
  }
}
.index-intro {
  margin-top: 365px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #283645;
}
.index-intro__header {
  display: none;
}
.index-intro__button {
  margin-bottom: 30px;
}
.index-intro__app-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  width: 205px;
  list-style: none;
}
.index-intro__link {
  display: block;
  background-repeat: no-repeat;
  background-size: 100;
}
.index-intro__link--apple {
  width: 47px;
  height: 56px;
  background-image: url(../img/icons/apple-logo.png);
}
.index-intro__link--android {
  width: 43px;
  height: 47px;
  background-image: url(../img/icons/android-logo.png);
}
.index-intro__link--microsoft {
  width: 44px;
  height: 41px;
  background-image: url(../img/icons/microsoft-logo.png);
}
.index-intro__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: lighter;
  text-align: center;
}
@media (min-width: 680px) {
  .main-header {
    background-color: #283645;
    background: url(../img/iphone-tablet.png) no-repeat right bottom 0, url(../img/headerbg-tablet@1x.jpg) no-repeat top / 100%;
  }
  .burger-menu__wrapper {
    padding-bottom: 40px;
  }
  .burger-menu__burger {
    margin-top: 15px;
  }
  .index-intro {
    margin-top: 0;
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: transparent;
  }
  .index-intro__wrapper {
    width: 310px;
  }
  .index-intro__header {
    display: block;
    margin: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    padding: 0;
    width: 200px;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
  }
  .index-intro__description {
    margin: 0 auto;
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    background-color: #283645;
    background: url(../img/iphone-desktop.png) no-repeat right 150px bottom 0, url(../img/headerbg-desktop@1x.jpg) no-repeat top / 100%;
  }
  .burger-menu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-right: 130px;
    padding-bottom: 40px;
    padding-left: 130px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .burger-menu__wrapper {
    padding-bottom: 0;
  }
  .burger-menu__navigation {
    margin-left: 130px;
    flex-grow: 1;
  }
  .burger-menu__burger {
    display: none;
  }
  .burger-menu__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .burger-menu__link {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    text-decoration: none;
  }
  .burger-menu__link:hover {
    color: #d22856;
  }
  .burger-menu__link:active {
    color: #ffffff;
    position: relative;
  }
  .burger-menu__link:active:after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .index-intro {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .index-intro__header {
    margin-bottom: 60px;
    width: 90%;
    font-size: 50px;
    line-height: 60px;
  }
  .index-intro__button {
    margin-bottom: 60px;
  }
  .index-intro__app-list {
    margin-bottom: 60px;
  }
  .index-intro__description {
    font-size: 18px;
    line-height: 24px;
  }
}
.section-features__headers {
  padding-top: 40px;
  padding-bottom: 35px;
}
.section-features__header {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  color: #283645;
  font-weight: lighter;
  text-align: center;
}
.section-features__header:last-child {
  margin-bottom: 0;
}
.section-features__content {
  padding-top: 85px;
  background-color: #f2f2f2;
}
.section-features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section-features__list-item {
  margin-bottom: 35px;
}
.section-features__list-item:last-child {
  margin-bottom: 0;
  padding-bottom: 350px;
  background-image: url(../img/feature-iphone-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.section-features__feature-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.section-features__feature-description {
  margin: 0;
  padding: 0;
  color: #283645;
  text-align: center;
}
@media (min-width: 680px) {
  .section-features {
    position: relative;
  }
  .section-features__headers {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .section-features__header {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 50px;
  }
  .section-features__header:last-child {
    margin: 0 auto;
    width: 80%;
  }
  .section-features__content {
    padding-top: 0;
  }
  .section-features__lists-wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-bottom: 40px;
    background-image: url(../img/feature-iphone-tablet.png);
    background-repeat: no-repeat;
    background-position: top left;
  }
  .section-features__list {
    width: 50%;
  }
  .section-features__list-item:last-child {
    padding-bottom: 0;
    background-image: none;
  }
  .section-features__feature-title {
    text-align: left;
  }
  .section-features__feature-description {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .section-features__headers {
    padding-top: 75px;
    padding-bottom: 85px;
  }
  .section-features__header {
    font-size: 50px;
    line-height: 60px;
  }
  .section-features__header:last-child {
    width: 60%;
  }
  .section-features__content {
    padding-bottom: 60px;
  }
  .section-features__lists-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
  }
  .section-features__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .section-features__list-item {
    margin-bottom: 0;
    padding-top: 360px;
    width: 30%;
    background-repeat: no-repeat;
  }
  .section-features__list-item:first-child {
    background-image: url(../img/feature-iphone-desktop--fun.png);
  }
  .section-features__list-item:nth-child(2) {
    background-image: url(../img/feature-iphone-desktop--world.png);
  }
  .section-features__list-item:last-child {
    background-position: top;
    background-image: url(../img/feature-iphone-desktop--friends.png);
  }
  .section-features__feature-title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .section-features__feature-description {
    text-align: center;
  }
}
