body {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  body {
    font-size: 18px;
    line-height: 30px;
  }
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
}
.container--full {
  padding: 0;
  max-width: 100%;
}
@media (min-width: 680px) {
  .container {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 10px;
    max-width: 940px;
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
