@width-mobile: 320px;
@width-tablet: 680px;
@width-desktop: 1200px;

@color-black: #000000;
@color-white: #ffffff;
@color-grey: #f2f2f2;
@color-darkblue: #1d2732;
@color-blue: #283645;
@color-transblue: rgba(40, 54, 69, 0.5);
@color-pink: #d22856;
@color-transpink: rgba(210, 40, 86, 0.5);
@color-darkgreen: #1c9b5e;
@color-green: #2aab6d;

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: @width-desktop) {
	body {
		font-size: 18px;
		line-height: 30px;
	}
}

img {
	display: block;
	width: 100%;
	height: auto;
}

// *:focus {
// 	outline: none;
// 	box-shadow: 0px 0px 0px 5px @color-pink;
// }

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 280px;
}

.container--full {
	padding: 0;
	max-width: 100%;
}

@media (min-width: @width-tablet) {
	.container {
		max-width: 620px;
	}
}

@media (min-width: @width-desktop) {
	.container {
		padding: 0 130px;
		max-width: 940px;
	}
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

//BUTTON

.button {
	display: block;
	box-sizing: border-box;
	padding: 15px 20px;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	&--download {
		color: @color-white;
		border: 3px solid @color-white;
		border-radius: 30px;
	}
}

@media (min-width: @width-desktop) {
	.button {
		&--download {
			font-size: 21px;
			line-height: 21px;
		}
	}
}

//LOGO

.logo {
	display: block;
	width: 75px;
	height: 22px;
}

.logo__image {

}

@media (min-width: @width-tablet) {
	.logo {
		width: 147px;
		height: 40px;
	}
}

//MAIN-HEADER



@media (max-width: @width-desktop) {
	.main-header {
		background-color: @color-blue;
		background: url(../img/iphone-mobile.png) no-repeat bottom 260px left / 260px, url(../img/headerbg-mobile@1x.jpg) no-repeat top / 100%;
	}

	.burger-menu {
		position: relative;
		background-color: rgba(0, 0, 0, 0.4);
		&--active {
			background-color: @color-blue;
			.burger-menu__wrapper {
				border-bottom: 1px solid @color-black;
			}
		}
	}

	.burger-menu__wrapper {
		padding: 25px 20px;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid transparent;
	}

	.burger-menu__burger {
		position: relative;
		padding: 0;
		width: 50px;
		height: 25px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		&:before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			height: 4px;
			background-color: @color-white;
			box-shadow: 0px 11px 0px 0px @color-white,
			0px -11px 0px 0px @color-white;
		}
		&:hover {
			&:before {
				background-color: @color-pink;
				box-shadow: 0px 11px 0px 0px @color-pink,
				0px -11px 0px 0px @color-pink;
			}
		}
		&:active {
			&:before {
				background-color: @color-transpink;
				box-shadow: 0px 11px 0px 0px @color-transpink,
				0px -11px 0px 0px @color-transpink;
			}
		}
		&--active {
			&:before {
				width: 4px;
				height: 30px;
				left: 50%;
				box-shadow: none;
			}
			&:after {
				position: absolute;
				content: "";
				width: 30px;
				height: 4px;
				background-color: @color-white;
				top: 50%;
				left: 50%;
			}
			&:before,
			&:after {
				transform: translate(-50%, -50%) rotate(45deg);
				border-radius: 5px;
			}
			&:hover {
				&:before,
				&:after {
					box-shadow: none;
					background-color: @color-pink;
				}
			}
			&:active {
				&:before,
				&:after {
					box-shadow: none;
					background-color: @color-transpink;
				}
			}
		}
	}

	.burger-menu__navigation {

	}

	.burger-menu__list {
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: @color-blue;
	}

	.burger-menu__list-item {
		width: 100%;
		background-color: @color-blue;
		border-top: 1px solid #485461;
		border-bottom: 1px solid @color-black;
	}

	.burger-menu__link {
		display: block;
		padding: 18px 0;
		font-size: 18px;
		line-height: 32px;
		color: @color-white;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
	}

	.main-header__content {
		background-color: @color-blue;
	}

	.burger-menu__navigation {
		display: none;
		&--nojs {
			display: block;
		}
		&--active {
			display: block;
			position: absolute;
			width: 100%;
		}
	}

}

.index-intro {
	margin-top: 365px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: @color-blue;
}

.index-intro__header {
	display: none;
}

.index-intro__button {
	margin-bottom: 30px;
}

.index-intro__app-list {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 0;
	width: 205px;
	list-style: none;
}

.index-intro__app {

}

.index-intro__link {
	display: block;
	background-repeat: no-repeat;
	background-size: 100;
	&--apple {
		width: 47px;
		height: 56px;
		background-image: url(../img/icons/apple-logo.png);
	}
	&--android {
		width: 43px;
		height: 47px;
		background-image: url(../img/icons/android-logo.png);
	}
	&--microsoft {
		width: 44px;
		height: 41px;
		background-image: url(../img/icons/microsoft-logo.png);
	}
}

.index-intro__description {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	color: @color-white;
	font-weight: lighter;
	text-align: center;
}

@media (min-width: @width-tablet) {
	.main-header {
		background-color: @color-blue;
		background: url(../img/iphone-tablet.png) no-repeat right bottom 0 / 470px, url(../img/headerbg-tablet@1x.jpg) no-repeat top / 100%;
	}

	.burger-menu__wrapper {
		padding-bottom: 40px;
	}

	.burger-menu__burger {
		margin-top: 15px;
	}

	.index-intro {
		margin-top: 0;
		padding-top: 95px;
		padding-bottom: 95px;
		background-color: transparent;
	}

	.index-intro__wrapper {
		width: 310px;
	}

	.index-intro__header {
		display: block;
		margin: 0;
		margin-right: auto;
		margin-bottom: 30px;
		margin-left: auto;
		padding: 0;
		width: 200px;
		font-size: 40px;
		line-height: 50px;
		color: @color-white;
		font-weight: lighter;
		text-align: center;
	}

	.index-intro__description {
		margin: 0 auto;
		width: 300px;
	}
}

@media (min-width: @width-desktop) {
	.main-header {
		background-color: @color-blue;
		background: url(../img/iphone-desktop.png) no-repeat right 150px bottom 0 / 610px, url(../img/headerbg-desktop@1x.jpg) no-repeat top / 100%;
	}

	.burger-menu {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		padding-top: 25px;
		padding-right: 130px;
		padding-bottom: 40px;
		padding-left: 130px;
		background-color: rgba(0, 0 ,0, 0.5);
	}

	.burger-menu__wrapper {
		padding-bottom: 0;
	}

	.burger-menu__navigation {
		margin-left: 130px;
		flex-grow: 1;
	}

	.burger-menu__burger {
		display: none;
	}

	.burger-menu__list  {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		justify-content: space-between;
		align-self: flex-end;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.burger-menu__list-item {

	}

	.burger-menu__link {
		padding-top: 5px;
		padding-bottom: 5px;
		color: @color-white;
		text-decoration: none;
		&:hover {
			color: @color-pink;
		}
		&:active {
			color: @color-white;
			position: relative;
			&:after {
				position: absolute;
				content: "";
				bottom: -5px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: @color-white;
			}
		}
	}

	.index-intro {
		padding-top: 110px;
		padding-bottom: 110px;
	}

	.index-intro__header {
		margin-bottom: 60px;
		width: 90%;
		font-size: 50px;
		line-height: 60px;
	}

	.index-intro__button {
		margin-bottom: 60px;
	}

	.index-intro__app-list {
		margin-bottom: 60px;
	}

	.index-intro__description {
		font-size: 18px;
		line-height: 24px;
	}
}

















//SECTION-FEATURES

.section-features {

}

.section-features__wrapper {

}

.section-features__headers {
	padding-top: 40px;
	padding-bottom: 35px;
}

.section-features__header {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	color: @color-blue;
	font-weight: lighter;
	text-align: center;
	&:last-child {
		margin-bottom: 0;
	}
}

.section-features__content {
	position: relative;
	background-color: @color-grey;
	&:before {
		position: absolute;
		content: "";
		right: 0;
		top: 0;
		background-color: @color-white;
		border: 35px solid @color-grey;
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-width: 100vw;
		border-bottom-width: 0;
	}
}

.section-features__list-wrapper {
	padding-top: 85px;
	padding-bottom: 350px;
	background-image: url(../img/feature-iphone-mobile.png);
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: 50% 110%;
}

.section-features__features-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section-features__feature {
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
}

.section-features__feature-header {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

.section-features__feature-description {
	margin: 0;
	padding: 0;
	color: @color-blue;
	text-align: center;
}

@media (min-width: @width-tablet) {
	.section-features {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			right: 0;
			bottom: 0;
			border: 50px solid blue;
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-width: 100vw;
			border-bottom-width: 0;
		}
	}

	.section-features__headers {
		padding-top: 55px;
		padding-bottom: 55px;
	}

	.section-features__header {
		margin-bottom: 0;
		font-size: 40px;
		line-height: 50px;
		&:last-child {
			margin: 0 auto;
			width: 80%;
		}
	}

	.section-features__content {
		&:before {
			border: 50px solid lightgreen;
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-width: 100vw;
			border-bottom-width: 0;
		}
	}

	.section-features__list-wrapper {
		padding-top: 70px;
		padding-bottom: 45px;
		background-image: url(../img/feature-iphone-tablet.png);
		background-position: 0% 0%;
		background-size: 50%;
		z-index: 99;
	}

	.section-features__features-list {
		width: 40%;
		margin-left: auto;
	}

	.section-features__feature-header {
		text-align: left;
	}

	.section-features__feature-description {
		text-align: left;
	}
}

@media (min-width: @width-desktop) {
	.section-features__headers {
		padding-top: 75px;
		padding-bottom: 85px;
	}

	.section-features__header {
		font-size: 50px;
		line-height: 60px;
		&:last-child {
			width: 60%;
		}
	}

	.section-features__list-wrapper {
		padding-top: 70px;
		padding-bottom: 45px;
		background-image: none;
	}

	.section-features__features-list {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.section-features__feature {
		margin-bottom: 0;
		padding-top: 355px;
		width: 240px;
		background-repeat: no-repeat;
		background-position: center top;
		&--fun {
			background-image: url(../img/feature-iphone-desktop--fun.png);
		}
		&--world {
			background-image: url(../img/feature-iphone-desktop--world.png);
		}
		&--friends {
			background-image: url(../img/feature-iphone-desktop--friends.png);
		}
	}

	.section-features__feature-header {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
	}

	.section-features__feature-description {
		text-align: center;
	}
}
